# Android Studio
.project
.settings
.classpath

# Android
.idea
.gradle
local.properties
*.iml
/packages/react-native/android/*
!/packages/react-native/android/README.md

# Node
node_modules
*.log
.nvm
package-lock.json
