# Android Studio
.project
.settings
.classpath

# Android
.idea
.gradle
local.properties
*.iml
/packages/react-native/android/*
!/packages/react-native/android/README.md

# Node
node_modules
*.log
.nvm
package-lock.json


# React Native

npm-debug.*
yarn-error.log
android/.gradle/
android/build/
android/app/build/
android/gradle/
android/local.properties
android/gradlew
android/gradlew.bat
ios/Pods/
ios/build/
ios/Podfile.lock
